# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Переменные окружения
.env

# Логи
*.log
logs/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Файлы отчетов
reports/

# Временные файлы
*.tmp
temp/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Файлы расписания
files/
schedules/

.env